
.dialog-file-item
  padding 6px 10px
  &:hover
    background-color var(--primary)
    color var(--primary-contrast)
  &.selected
    background-color var(--primary)
    color contrastColor(primary)
.file-dialog-list-wrap
  height 70vh
  overflow-y scroll
.file-dialog-header
  .sftp-title
    .anticon-eye-invisible
      display none